{% extends 'base.html' %}


{% block title %}Detaily{% endblock %}

{% block content %}

{% block scripts %}
<script>
    $(document).ready(function () {
        dept = '{{ dept }}'
        $("#date").datepicker({
            todayBtn: "linked",
            format: 'dd-mm-yyyy'
        }).on('changeDate', function (e) {
            if (dept == 'None') {
                emp_table.ajax.url("/detail_data/" + $("#date").val()).load();
            }
            else {
                emp_table.ajax.url("/detail_data/" + $("#date").val() + '/' + dept).load();
            }
        });
        if (dept == 'None') {
            var emp_table = $('#employees').DataTable({
                dom: 'Bfrtip',
                "ajax": "/detail_data/" + $("#date").val(),
                "pageLength": 25,
                "order": [[0, "asc"]],
                "columns": [
                    { data: 'oscpv'},
                    { data: 'dept' },
                    { data: 'name' },
                    { data: 'surname' },
                    { data: 'start_of_employment' },
                    { data: 'end_of_employment' },
                    { data: 'occupancy' },
                    { data: 'vacancy_end' },
                ],
                'fixedHeader': true,
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api();
                    if (api.column(5).data().length) {
                        var total = 0;
                        api.rows({ 'filter': 'applied' }).every(function (rowIdx, tableLoop, rowLoop) {
                            if (this.data()['occupancy'] != 'DPČ/DPP') {
                                total += this.data()['occupancy'] * 1;
                            }
                        });
                        $(api.column(5).footer()).html('Celkem: ' + total.toFixed(2));
                    }
                },
                "drawCallback": function () {
                    var api = this.api();
                    api.rows().every(function (rowIdx, tableLoop, rowLoop) {
                        var init_val = this.data();
                        if (init_val['occupancy'] != 'DPČ/DPP') {
                            init_val['occupancy'] = (init_val['occupancy'] * 1.0).toFixed(2);
                        }
                        this.data(init_val);
                    });
                },
                buttons: [
                    'excel', 'print'
                ]
            });
        }
        else {
            var emp_table = $('#employees').DataTable({
                dom: 'Bfrtip',
                "ajax": "/detail_data/" + $("#date").val() + '/' + dept,
                "pageLength": 25,
                "order": [[0, "asc"]],
                "columns": [
                    { data: 'oscpv'},
                    { data: 'dept' },
                    { data: 'name' },
                    { data: 'surname' },
                    { data: 'start_of_employment' },
                    { data: 'end_of_employment' },
                    { data: 'occupancy' },
                    { data: 'vacancy_end' },
                ],
                'fixedHeader': true,
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api();
                    if (api.column(5).data().length) {
                        var total = 0;
                        api.rows({ 'filter': 'applied' }).every(function (rowIdx, tableLoop, rowLoop) {
                            if (this.data()['occupancy'] != 'DPČ/DPP') {
                                total += this.data()['occupancy'] * 1;
                            }
                        });
                        $(api.column(5).footer()).html('Celkem: ' + total.toFixed(2));
                    }
                },
                "drawCallback": function () {
                    var api = this.api();
                    api.rows().every(function (rowIdx, tableLoop, rowLoop) {
                        var init_val = this.data();
                        if (init_val['occupancy'] != 'DPČ/DPP') {
                            init_val['occupancy'] = (init_val['occupancy'] * 1.0).toFixed(2);
                        }
                        this.data(init_val);
                    });
                },
                buttons: [
                    'excel', 'print'
                ]
            });
        }

        
        $("#date").datepicker('setDate', new Date());
        yadcf.init(emp_table, [
            {
                column_number: 0,
                filter_type: 'multi_select',
                select_type: 'select2',
                select_type_options: '',
                style_class: 'form-control',
                reset_button_style_class: 'btn',
                filter_match_mode: 'exact',
            },
            {
                column_number: 1,
                filter_type: 'multi_select',
                select_type: 'select2',
                select_type_options: '',
                style_class: 'form-control',
                reset_button_style_class: 'btn',
                filter_match_mode: 'exact',
            },
            {
                column_number: 2,
                filter_type: 'text',
                style_class: 'form-control',
                reset_button_style_class: 'btn',
            },
            {
                column_number: 3,
                filter_type: 'text',
                style_class: 'form-control',
                reset_button_style_class: 'btn',
            },
            {
                column_number: 4,
                filter_type: 'range_date',
                datepicker_type: 'bootstrap-datepicker',
                date_format: 'dd-mm-yyyy',
                reset_button_style_class: 'btn',
            },
            {
                column_number: 5,
                filter_type: 'range_date',
                datepicker_type: 'bootstrap-datepicker',
                date_format: 'dd-mm-yyyy',
                reset_button_style_class: 'btn',
            },
            {
                column_number: 6,
                filter_type: 'multi_select',
                select_type: 'select2',
                style_class: 'form-control',
                reset_button_style_class: 'btn',
                filter_match_mode: 'exact',
            },
            {
                column_number: 7,
                filter_type: 'range_date',
                datepicker_type: 'bootstrap-datepicker',
                date_format: 'dd-mm-yyyy',
                reset_button_style_class: 'btn',
            },
        ]);
    });


</script>
{% endblock %}

<div class='container-fluid'>
    <div class='row buffer-top-md'>
        <div class='col-md-7'>
            <h2>Stav k datu: </h2>
            <form id='dateForm' name='dateForm'>
                <div class='input-date input-group' id='datepicker'>
                    <input type='text' class='form-control' name='date' id='date' readonly='readonly'/>
                </div>
            </form>
            <div class='table-responsive-xl'>
                <table id='employees' class='display table table-bordered' name='employees'>
                    <thead>
                        <tr>
                            <th>osčpv</th>
                            <th>Oddělení</th>
                            <th>Jméno</th>
                            <th>Příjmení</th>
                            <th>Datum nástupu</th>
                            <th>Datum uknočení</th>
                            <th>Úvazek</th>
                            <th>Vynětí do</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}