{% extends 'base.html' %}


{% block title %}Přehled{% endblock %}

{% block content %}

{% block scripts %}
<script>
  Chart.pluginService.register({
    afterDraw: function (chart) {
      if (typeof chart.config.options.lineAt != 'undefined') {
        var lineAt = chart.config.options.lineAt;
        var ctxPlugin = chart.chart.ctx;
        var xAxe = chart.scales[chart.config.options.scales.xAxes[0].id];
        var yAxe = chart.scales[chart.config.options.scales.yAxes[0].id];

        if (yAxe.min != 0) return;

        ctxPlugin.strokeStyle = "red";
        ctxPlugin.beginPath();
        lineAt = (lineAt - yAxe.min) * (100 / yAxe.max);
        lineAt = (100 - lineAt) / 100 * (yAxe.height) + yAxe.top;
        ctxPlugin.moveTo(xAxe.left, lineAt);
        ctxPlugin.lineTo(xAxe.right, lineAt);
        ctxPlugin.stroke();
      }
    }
  });

  $(document).ready(function () {
    hidden_list=[]
    $("#date").datepicker({
      todayBtn: "linked",
      format: 'dd-mm-yyyy',
    }).on('changeDate', function (e) {
      emp_table.ajax.url("occupancy_by_dept/" + $("#date").val()).load();
      $.ajax({
        url: "graph_data/" + $("#date").val()
      }).done(function (data) {
        $("#graph_canvas").remove();
        $("#canvas-container").append("<canvas id='graph_canvas' class='plot'></canvas>");
        var ctx = document.getElementById('graph_canvas');
        var projection = new Chart(ctx, {
          type: 'bar',
          data: data,
          options: {
            lineAt: 140,
            legend: {
              display: true,
              onClick: function (e, legendItem) {
                var index = legendItem.datasetIndex;
                var ci = this.chart;
                var meta = ci.getDatasetMeta(index);

                meta.hidden = meta.hidden === null ? !ci.data.datasets[index].hidden : null;
                ci.update();
                hidden_list = [];
                totals = []
                for (var l = 0; l <= 11; l++) {
                  totals[l] = 0;
                }
                for (var i = 0; i < ci.data.datasets.length; i++) {
                  if (!ci.getDatasetMeta(i).hidden) {
                    for (var j = 0; j <= 11; j++) {
                      totals[j] += ci.data.datasets[i].data[j];
                    }
                  }
                  else {
                    hidden_list.push(ci.data.datasets[i].label);
                  }
                }
                old_labels = ci.data.labels;
                new_labels = [];
                regex = /((leden|únor|březen|duben|květen|červen|červenec|srpen|září|říjen|listopad|prosinec) [0-9]+ - )/g
                for (var k = 0; k < old_labels.length; k++) {
                  new_labels[k] = old_labels[k].match(regex)[0] + totals[k].toFixed(2).toString();
                }
                ci.data.labels = new_labels;
                ci.update();
                $.fn.dataTable.ext.search.push(
                  function (settings, data, dataIndex) {
                    return !hidden_list.includes($(emp_table.row(dataIndex).node())[0].firstChild.innerText[0]);
                  }
                );
                emp_table.draw();
              }
            },
            title: {
              display: true,
              text: 'Vývoj počtu úvazků na jeden rok'
            },
            tooltips: {
              mode: 'index',
              intersect: true
            },
            responsive: true,
            scales: {
              xAxes: [{
                stacked: true
              }],
              yAxes: [{
                stacked: true
              }]
            }
          },
        });
      });
    });

    emp_table = $('#employees').DataTable({
      "paging": false,
      "dom": 't',
      "order": [[0, "asc"], [1, "asc"]],
      "columnDefs": [{
        "targets": [0],
        "visible": false,
        "searchable": false
      }],
      "columns": [
        { data: 'parent' },
        { data: 'dpt' },
        { data: 'occupancy' }
      ],
      "footerCallback": function (row, data, start, end, display) {
        var api = this.api();
        var regex = /([0-9]+)/g;
        var root_dpt = function (i) {
          var result = i.toString().match(regex);
          return result[0].length == 1;
        };
        if (api.column(1).data().length) {
          var total = 0;
          var totalNTK = 0;
          api.rows().every(function (rowIdx, tableLoop, rowLoop) {
            if (root_dpt(this.data()['dpt']) && !hidden_list.includes(this.data()['dpt'].toString().match(regex)[0])) {
              total += this.data()['occupancy'];
              var result = this.data()['dpt'].toString().match(regex);
              if (result[0] != '7') {
                totalNTK += this.data()['occupancy'];
              }
            }
          });
          $(api.column(2).footer()).html('CelkemNTK: ' + totalNTK.toFixed(2) + ' Celkem: ' + total.toFixed(2));
        }
      },
      "rowGroup": {
        dataSrc: "parent"
      },
      "bLengthChange": false,
      "bInfo": false,
    });
    $("#date").datepicker("setDate", new Date());
  });


</script>
{% endblock %}

<div class='container-fluid'>
  <div class='row buffer-top-md'>
    <div class='col-md-8' id='canvas-container'>
      <h2>Stav k datu: </h2>
      <form id='dateForm' name='dateForm'>
        <div class='input-date input-group' id='datepicker'>
          <input type='text' class='form-control' name='date' id='date' readonly='readonly' />
        </div>
      </form>
      <canvas id='graph_canvas' class='plot'></canvas>
    </div>
    <div class='col-md-3 pull-right'>
      <div class='col-md-5'>
        <table id='employees' class='display table table-bordered' name='employees'>
          <thead>
            <tr>
              <th></th>
              <th>Oddělení</th>
              <th>Úvazky</th>
            </tr>
          </thead>
          <tbody></tbody>
          <tfoot>
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>


{% endblock %}