{% extends 'base.html' %}


{% block title %}Host history{% endblock %}

{% block content %}
{% block scripts %}
<script>
    $(document).ready(function () {
        var hostname = '{{hostname}}'
        var plays_table = $('#plays').DataTable({
            "ajax": "/host_data/" + hostname,
            "pageLength": 25,
            "order": [
                [2, "dsc"]
            ],
            "columns": [{
                    data: 'play'
                },
                {
                    data: 'status'
                },
                {
                    data: 'time'
                },
            ],
            'fixedHeader': true,
        });
    });
</script>
{% endblock %}
<div class='container-fluid'>
    <div class='row buffer-top-md'>
        <div class='col-md-7'>
            <h2>Last failed plays:</h2>
            <div class='table-responsive-xl'>
                <table id='plays' class='display table table-bordered' name='plays'>
                    <thead>
                        <tr>
                            <th>Play</th>
                            <th>Status</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}