{% extends 'base.html' %}


{% block title %}Vývoj{% endblock %}

{% block content %}

{% block scripts %}
<script>

    Chart.pluginService.register({
        afterDraw: function (chart) {
            if (typeof chart.config.options.lineAt != 'undefined') {
                var lineAt = chart.config.options.lineAt;
                var ctxPlugin = chart.chart.ctx;
                var xAxe = chart.scales[chart.config.options.scales.xAxes[0].id];
                var yAxe = chart.scales[chart.config.options.scales.yAxes[0].id];

                if (yAxe.min != 0) return;

                ctxPlugin.strokeStyle = "red";
                ctxPlugin.beginPath();
                lineAt = (lineAt - yAxe.min) * (100 / yAxe.max);
                lineAt = (100 - lineAt) / 100 * (yAxe.height) + yAxe.top;
                ctxPlugin.moveTo(xAxe.left, lineAt);
                ctxPlugin.lineTo(xAxe.right, lineAt);
                ctxPlugin.stroke();
            }
        }
    });
    $(document).ready(function () {
        $("#date_from").datepicker({
            todayBtn: "linked",
            format: 'dd-mm-yyyy'
        })
        $("#date_to").datepicker({
            todayBtn: "linked",
            format: 'dd-mm-yyyy'
        })
        $(".datepicker").on('changeDate', function (e) {
            $.ajax({
                url: "line_data/" + $("#date_from").val() + '/' + $("#date_to").val()
            }).done(function (data) {
                $("#graph_canvas").remove();
                $("#canvas-container").append("<canvas id='graph_canvas' class='plot'></canvas>");
                var ctx = document.getElementById('graph_canvas');
                var projection = new Chart(ctx, {
                    type: 'line',
                    data: data,
                    options: {
                        lineAt: 140,
                        legend: {
                            display: true,
                            onClick: function (e, legendItem) {
                                var index = legendItem.datasetIndex;
                                var ci = this.chart;
                                var meta = ci.getDatasetMeta(index);

                                meta.hidden = meta.hidden === null ? !ci.data.datasets[index].hidden : null;
                                ci.update();
                                hidden_list = [];
                                totals = []
                                for (var l = 0; l <= ci.data.labels.length; l++) {
                                    totals[l] = 0;
                                }
                                for (var i = 0; i < ci.data.datasets.length; i++) {
                                    if (!ci.getDatasetMeta(i).hidden) {
                                        for (var j = 0; j <= ci.data.labels.length; j++) {
                                            totals[j] += ci.data.datasets[i].data[j];
                                        }
                                    }
                                    else {
                                        hidden_list.push(ci.data.datasets[i].label);
                                    }
                                }
                                old_labels = ci.data.labels;
                                new_labels = [];
                                regex = /((leden|únor|březen|duben|květen|červen|červenec|srpen|září|říjen|listopad|prosinec) [0-9]+ - )/g
                                for (var k = 0; k < old_labels.length; k++) {
                                    new_labels[k] = old_labels[k].match(regex)[0] + totals[k].toFixed(2).toString();
                                }
                                ci.data.labels = new_labels;
                                ci.update();
                            }
                        },
                        title: {
                            display: true,
                            text: 'Vývoj počtu úvazků'
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false,
                        },
                        responsive: true,
                        scales: {
                            xAxes: [{
                                display: true,
                                autoSkip: false,
                            }],
                            yAxes: [{
                                display: true,
                                autoSkip: false,
                            }]
                        }
                    },
                });
            });
        })


        var date = new Date();
        var next_month = new Date(new Date().setFullYear(new Date().getFullYear() + 1))
        $("#date_from").datepicker('setDate', date);
        $("#date_to").datepicker('setDate', next_month);
    });


</script>
{% endblock %}

<div class='container-fluid'>
    <div class='row buffer-top-md'>
        <div class='col'>
            <div class='col-md-10' id='canvas-container'>
                <h2>Vývoj v rozsahu: </h2>
                <form id='dateForm' name='dateForm' class='col-sm-2'>
                    <div class='input-daterange input-group' id='datepicker'>
                        <input type='text' class='form-control datepicker' name='date_from' id='date_from' readonly='readonly' />
                        <div class="input-group-addon">do</div>
                        <input type='text' class='form-control datepicker' name='date_to' id='date_to' readonly='readonly' />
                    </div>
                </form>
                <canvas id='graph_canvas' class='plot'></canvas>
            </div>
        </div>
    </div>
</div>


{% endblock %}